In [1]:
import pandas as pd
import numpy as np
from math import *

In [2]:
df = pd.read_csv(r"C:\Users\Rhea Pandita\Desktop\College-AinDs\SEMESTER 4\ML\LAB\EX-3\1.classification.csv")

In [3]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [4]:
len(df)

400

In [5]:
df = df.dropna()

In [6]:
df = df.drop_duplicates()

In [7]:
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [8]:
len(df)

367

In [9]:
df['Age']=pd.cut(df['Age'],bins=[18,30,45,60],labels=['Youth','Midage','Adult'])
df['Salary']=pd.cut(df['EstimatedSalary'],bins=3,labels=['Low','Average','High',])
df = df.drop(['EstimatedSalary'],axis=1)

In [10]:
df.head()

      Age  Purchased   Salary
0   Youth          0      Low
1  Midage          0      Low
2   Youth          0      Low
3   Youth          0      Low
4   Youth          0  Average

In [11]:
df = df.dropna()

In [12]:
len(df)

362

In [14]:
def unique_values(data,col):
        l=[]
        for i in data[col]:
            if i not in l:
                l.append(i)
        return l

def conditional_len(data,col1,classes,value,c):
    count=0
    for i in zip(data[col1],data[classes]):
        if (i[0]==value and i[1]==c):
            count+=1
    return count
        
'''classes
C1 : purchased=0
c2 : purchased=1 '''
def gini_index(data,classes,col):
    '''STEP 1 : Calculate probability of the classes'''
    #class_len = count of no of 0 and 1 [or] count of c1 and count of c2
    class_len = [data[classes].value_counts()[0],data[classes].value_counts()[1]]
    
    prob_C1 = data[classes].value_counts()[0] / len(data)
    prob_C2 = data[classes].value_counts()[1] / len(data)
    l1=[prob_C1,prob_C2]
    
    '''STEP 2: Calculate probability of the attributes of the class'''
    attribute_len=[] #keep count of all attributes of one feature
    l2=[] #list to keep probability of all attributes in one feature
    l=unique_values(data,col)
    for i in l:
        attribute_len.append(data[col].value_counts()[i])
        l2.append(data[col].value_counts()[i] / len(data))
        
    '''STEP 3: Calculate probability of each unique value given the class'''
    cond_len_1 = [] #count of each attribute given C1
    cond_len_2 = [] #count of each attribute given C2
    cond_prob_1 = [] #cond prob of each attribute and C1
    cond_prob_2 = [] #cond prob of each attribute and c2
    
    for i in l:
        cond_len_1.append(conditional_len(data,col,classes,i,0))
        cond_len_2.append(conditional_len(data,col,classes,i,1))
    #print(cond_len_1)
    #print(cond_len_2)
    #NOTE : sum(cond_len_1)+sum(cond_len_2) = len(df)
    
    for i in zip(cond_len_1,attribute_len):
        cond_prob_1.append(i[0]/i[1])
        
    for i in zip(cond_len_2,attribute_len):
        cond_prob_2.append(i[0]/i[1])
        
    #print(cond_prob_1[0],cond_prob_2[0])   //P(Youth and C1)+P(Youth and C2)=1
    #print(cond_prob_1[1],cond_prob_2[1])   //P(Mid and C1)+P(Mid and C2)=1
    #print(cond_prob_1[2],cond_prob_2[2])   //P(Adult and C1)+P(Adult and C2)=1
    
    '''STEP 4 : Calculate Gini index of each attribute'''
    gini_ind = []
    gsum=0
    for i in zip(cond_prob_1,cond_prob_2):
        gsum = 1- (pow(i[0],2)+pow(i[1],2))
        gini_ind.append(gsum)
        
    #Gini index of the feature
    gini_index=0
    for i in zip(l2,gini_ind):
        gini_index += (i[0]*i[1])
                   
    print("gini index of column ",col," is : ",gini_index)

In [15]:
gini_index(df,'Purchased','Age')

gini index of column  Age  is :  0.2868129329618925

In [16]:
gini_index(df,'Purchased','Salary')

gini index of column  Salary  is :  0.38329681368355406

Since Gini_Index of Age column is lesser than that of Salary Column. Therefore, in the decision tree the root node should be the feature, Age.